
.app{
    width:100%;
    height:100%;
    text-align: center;
    display:flex;
    flex-direction: column;
}

.counter{
    text-align: right;
    padding-right:1%;
    margin-bottom: 5px;
}

a{
    text-decoration: none;
    color:black;
}

.user{
    margin-bottom:10px;
    border: 2px solid whitesmoke;
    text-align: center;
    width:100%;
    padding:30px 0px;
    min-height: 80px;
}

.menu{
    width:94%;
}
.menu h1{
    text-align: left;
}
.menu h4{
    text-align: left;
    color:red;
}
.menu ul{
    list-style: none;
}
.menu li{
    margin-bottom:10px;
    border: 2px solid whitesmoke;
    text-align: center;
    width:100%;
    padding:30px 0px;
    min-height: 80px;
}

.menu li span{
    font-weight: 600;
}

.menu li a{
    cursor:pointer;
}

.shimmerList{
    background-color: grey;
}

.header{
    display:flex;
    height:auto;
    width:92%;
    margin-bottom: 20px;
    justify-content: space-between;
    border: 1px solid lightgrey;
    padding:0.35% 2% 0.35% 0.35%;
}
.footer{
    width:94%;
    border: 1px solid lightgrey;
    padding:0.0001%;
}

.header a{
    cursor: pointer;
}
a:hover{
    background-color: whitesmoke;
}
a:active{
    background-color: lightgray;
}
#content{
    display: flex;
    flex-direction: column;
    padding:0% 2%;
    margin-top:10px;
    margin-bottom:10px;
}


#content .content-container {
    display: flex;
    padding: 2% 0% 2% 2%;
    flex-wrap: wrap;
    justify-content:flex-start;
}

#content .content-container .res-card{
    display: block;
    padding:2px;
    min-height:320px;
    width:17%;
    margin-right:2%;
    background-color: whitesmoke;
    margin-bottom:20px;
    
}
.res-card:hover{
    border: 0.5px solid lightgray;
    cursor: pointer;
}
#content .content-container .res-card figure .resImg{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
#content .content-container .res-card figure{
    margin:0px;
    width:100%;
    height:320px;

}
#content .content-container .res-card figure figcaption{
    width: 100%;
    height: auto;
}

#content .content-container .res-card figure figcaption h3{
    margin-block-end:5px;
    margin-block-start:5px;
}

#content .content-container .res-card figure figcaption p{
    margin-block-end:5px;
    margin-block-start:5px;
}



.logo{
    width:100%;
    height:55px;
    background-color: transparent;

}

.sign-in a{
    background-color: white;
    padding:8% 18%;
    border-radius: 5%;
    box-shadow: 3px 3px 4px 4px lightgray ;
}

.sign-in a:hover{
    background-color: whitesmoke;
}

.sign-in a:active{
    background-color: lightgrey;
}


.nav-items > ul{
    display: flex;
}

.nav-items > ul > li {
        padding:5px;
        list-style-type:none;
        font-size: 17px;
}

.search-container{
    width:100%;
    display:flex;
    padding:0px;
    margin:0px 0px 10px 0px;
    justify-content: flex-start;

}
.searchInp{
    width:91.5%;
    height:28px;
    padding:0.25%;
    margin-left:0%;
}
.searchBtn{
    background-color: whitesmoke;
    border:none;
    width:auto;
    height:auto;
    cursor: pointer;
    padding:0px;
}
.searchBtn:hover{
    border:0.25px solid lightgray;
}
.searchBtn:active{
    background-color: darkgray;
}
.filter-container{
    display: flex;
    justify-content: space-between;
    width: 94%;
    text-align: left;
    margin-top:10px;
    margin-bottom: 10px;
}


.shimmer-card{
    width:17%;
    height:320px;
    margin-right:2%;
    margin-bottom: 20px;
    background-color: lightgray;
}

.mid-content{
    min-height:70vh;
    width:92%;
}



